doctype html

extends ../modules/_templates/page

block main
	main(role="main").page__content
		#js-test-app
	
block app_scripts
	script(src='%=staticPrefix=%js/separate-js/app-dictionary-ru.js')
	script(src='%=staticPrefix=%js/separate-js/app-localization.js')
	script(src='%=staticPrefix=%js/separate-js/fix-window.js')
	script(src='%=staticPrefix=%js/separate-js/app-utils.js')
	script(src='%=staticPrefix=%js/separate-js/app-config.js')
	script(src='%=staticPrefix=%js/separate-js/app-windowform.js')
	script(src='%=staticPrefix=%js/separate-js/app-window-simple.js')
	script(src='%=staticPrefix=%js/separate-js/app-actions.js')
	script(src='%=staticPrefix=%js/separate-js/app-docsgrid.js')
	script(src='%=staticPrefix=%js/separate-js/app-grid.js')
	script(src='%=staticPrefix=%js/separate-js/app.js')