mixin head(data)
    meta(charset="utf-8")
    |<title>#{data.title}</title>
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="telephone=no" name="format-detection")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="HandheldFriendly" content="true")
    <meta name="MobileOptimized" content="320">
    |<meta content="IE=edge" http-equiv="X-UA-Compatible">
    |<!--[if IE 8 ]><link href="%=staticPrefix=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if IE 9 ]><link href="%=staticPrefix=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if (gt IE 9)|!(IE)]><!--><link href="%=staticPrefix=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    link(rel="icon" type="image/ico" href="/favicon.ico")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png")
  
    //-script.
    //-    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    |<!--[if lt IE 9 ]><script src="%=staticPrefix=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->