.page {
  display: table;
  width: 100%;
  &__wrapper {
    display: table-row;
    height: 100%;
  }
  &__content {
    padding: 0 @lg_pad;
  }
  &__header {
    padding: @lg_pad;
    margin-bottom: @lg_pad;
  }
  &__footer {
    margin-top: @lg_pad;
    padding: @lg_pad/2 @lg_pad;
  }
}