.page {
  display: flex;
  flex-direction: column;
  &__wrapper {
    flex: 1 0 auto; 
    overflow: auto;
  }
  &__content {
    margin: auto;
    width: 800px;
  }
  &__header {
    flex: 0 0 auto;
    display: block;
    border-bottom: 1px solid darkblue;
    padding: @sm_pad;
    @media @md {
      padding: @md_pad;
      margin-bottom: @md_pad;
    }
    @media @lg {
      padding: @lg_pad;
      margin-bottom: @lg_pad;
    }
  }
  &__footer {
    flex: 0 0 auto;
    width: auto;
    background: #ddd;
    padding: @sm_pad;
    overflow: hidden;
    box-sizing: padding-box;
    @media @md {
      margin-top: @md_pad;
      padding: @md_pad/2 @md_pad;
    }
    @media @lg {
      margin-top: @lg_pad;
      padding: @lg_pad/2 @lg_pad;
    }
  }
}