include ../_blocks/page-title

doctype html
html
	include ../_blocks/head
	head
		block head
			+head(head.defaults)
	body.page
		block header
			header.page__header
				include ../_parts/header
		block wrapper
			div.page__wrapper
				block main
					main(role="main").page__content
						block page-title
							+page-title({title:"Заголовок"})
						block content
							| Контент
		block footer
			footer.page__footer
				include ../_parts/footer
		block scripts
			script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
			block app_scripts