html {
    height: 100%;
}

body {
  height: 100%;
}

* html .page {
  height: 100%;
}

body {
  background-color: #fff;
}

._readablehide {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
 }
 
._phantomspace {
  padding-left: 2px;
  display: inline-block;
  width: 0;
  height: 0;
}

.x-grid3-row .x-grid3-cell {
  vertical-align: middle;
}
