.logo {
  font-size: 24px;
  color: #00008B;
  &-append {
    color: #337ab7;
    display: block;
  }
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }
  &[href]:hover,
  &[href]:focus,
  &[href]:active{
    color: #00008B + #333;
  }
  &[href]:hover &-append,
  &[href]:focus &-append,
  &[href]:active &-append{
    color: #337ab7+#333;
  }
}
